<!DOCTYPE html>
<html lang="en">
<head>
  <title>Blog Thingy</title>
  <link rel="shortcut icon" href="http://bart.stuy.edu/~aaron.mortenson/muffins/moop.ico">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
#main {
  background-color:#ffffff;
}
    </style>
</head>

<body Bgcolor="E0D8E0">
  <center>
	  {% block title %}
	  placeholder title
	  {% endblock title %}
  </center>
    <br>
    <div class="pure-u-1-24"></div>
    <div class="pure-u-11-12">
    {% block menu %}
    <!-- dummy menu -->
    <center>
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
    <ul>
        <li class="pure-menu-selected"><a href="../home">Home</a></li>
        <li><a href="../forum">Find Blogs</a></li>
        <li><a href="../create">Make New Blog</a></li>
	<li><a href="../table">BBCode reference</a></li>
    </ul>
    </div>
    </center>
    {% endblock menu %}
    </div>   
    
    <!-- we don't want to center the entire body or it'll look queer-->
    <div class="pure-u-1-24"></div>
    <div class="pure-u-22-24" id = "main">

	  {% block bodycontent %}
	  placeholder body
	  {% endblock bodycontent %}
    </div>
<br>
</body>
<html>
