{% extends "base.html" %}
<!-- perhaps have a form to link all current topics/categories of posts
and give an option to create a new one. link to forum.html please-->
{% block title %}
<h1>Main Page<h1>
{% endblock title %}

{% block bodycontent %}
<center>
<p> Create new topic:</p>
<div class="pure-u-2-3">
<form method="POST" class="pure-form pure-form-stacked">
    <fieldset>
        <legend>      
	  <input type="text" name="blog" placeholder="Blog Name">
	</legend>
     
        <label for="title">Post</label>  
	<input id="title" type="text" name="title" placeholder="Title">
	<input id="author" type="text" name="author" placeholder="Author">
	<textarea  class="pure-u-3-4"  name="body"></textarea>

	<button type="submit" class="pure-button" name="b">Submit</button>
    </fieldset>
</form>
</div>
</center>
<form method="GET" class="pure-form pure-form-stacked" action="forum">
  <!-- use python to get all topics and put it into a {string} with all topic names into buttons.-->
  <button type="submit" class="pure-button" name="topic" value="test topic #1">test topic #1</button><br>
  <button type="submit" class="pure-button" name="topic" value="test topic #2">test topic #2</button><br>
</form>
{% endblock bodycontent %}
