{% extends "base.html" %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<!-- perhaps have a form to link all current topics/categories of posts
and give an option to create a new one. link to forum.html please-->

{% block bodycontent %}

    As a blog site, our mission is to provide you, the user, with the best opportunity to read some interesting posts about fascinating topics.<br><br>Across the top of this page is the menu. Select whichever page coincides with what you want to explore on our site, and have fun!<br>
<img src="http://www.hasbarafellowships.org/uploads/cgblog/id513/blog.jpg"><br>
<a href="https://github.com/trunkatedpig/EricEricAaronBlog">Link to source code</a>
<br>
<font size=4 color="gray">P.S. more like our mission is to get a good grade lmoa desu</font> <br>

{% endblock bodycontent %}
